{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block style %}
    <style>
        .search {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 30px;
            background: #fff;
            box-shadow: 0 15px 35px rgba(14,35,38,0.1), 0 5px 15px rgba(0,0,0,0.05);
        }

        input {
            width: 60px;
            height: 60px;
            border: 0;
            outline: none;
            font-size: 24px;
            font-family: sans-serif;
            cursor: pointer;
            opacity: 0;
            transition: all 0.2s;
            border-radius: 30px;
        }

        input:valid,
        input:focus {
            width: 300px;
            padding: 0 20px 0 55px;
            opacity: 1;
            cursor: auto;
        }

        .icon {
            position: absolute;
            top: 50%;
            left: 30px;
            transform: translate(-50%, -50%);
            width: 32px;
            height: 32px;
            pointer-events: none;
            fill: black;
        }

    </style>
{% endblock %}

{% block body %}
    <div>
        <h1 style="margin-top: 230px; text-align: center; font-size: 50px;">Search For a Book</h1>
        <form action="/" method="post">
        <div class="search">
            <input type="text" placeholder="Title, ISBN, Author" required="required" name="query" autocomplete="off"/>
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                </path>
            </svg>
        </div>
            </form>
    </div>
{% endblock %}