{% extends 'layout.html' %}

{% block title %}
    Sign-Up
{% endblock %}

{% block body %}

    <div class="container" style="height: 200px; width: 40%; margin-top: 120px;">
    <h2>Sign Up</h2>
        <br>
    <form action="{{ url_for('signup') }}" method="post">
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control"  placeholder="Enter Username" name="username" required>
  </div>
  <div class="form-group">
    <label >Password</label>
    <input type="password" class="form-control" placeholder="Password" name="password" required>
  </div>
        <div class="form-group">
    <label > Re-Type Password</label>
    <input type="password" class="form-control" placeholder="Re-Type Password" name="retype_password" required>
  </div>

  <button type="submit" class="btn">Submit</button>
</form>

    </div>
{% endblock %}